In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-05-08 14:05:21,-54.8000,-68.3000,40.66,87,75,35.68
1,1,Severo-Kurilsk,RU,2022-05-08 14:06:39,50.6789,156.1250,38.46,94,100,16.93
2,2,Mount Isa,AU,2022-05-08 14:06:40,-20.7333,139.5000,69.57,52,10,9.22
3,3,Airai,TL,2022-05-08 14:05:22,-8.9266,125.4092,59.83,92,47,3.94
4,4,Cockburn Town,TC,2022-05-08 14:03:16,21.4612,-71.1419,79.32,80,0,13.73

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Cockburn Town,TC,2022-05-08 14:03:16,21.4612,-71.1419,79.32,80,0,13.73
8,8,Loa Janan,ID,2022-05-08 14:06:41,-0.5830,117.0950,76.05,96,92,2.01
13,13,Omboue,GA,2022-05-08 14:06:43,-1.5746,9.2618,83.21,77,80,10.76
16,16,Rikitea,PF,2022-05-08 14:06:44,-23.1203,-134.9692,76.73,79,40,19.86
21,21,Nkoteng,CM,2022-05-08 14:06:46,4.5167,12.0333,88.20,48,100,2.93
27,27,Buala,SB,2022-05-08 14:06:49,-8.1450,159.5921,80.69,84,94,8.55
32,32,Hilo,US,2022-05-08 14:06:51,19.7297,-155.0900,75.27,93,100,4.61
33,33,Karratha,AU,2022-05-08 14:06:51,-20.7377,116.8463,79.29,61,97,5.50
45,45,Cascais,PT,2022-05-08 14:06:55,38.6979,-9.4215,86.61,28,20,4.61
46,46,Ormara,PK,2022-05-08 14:06:56,25.2088,64.6357,82.65,80,0,20.13

In [19]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4   Cockburn Town      TC     79.32  21.4612  -71.1419
8       Loa Janan      ID     76.05  -0.5830  117.0950
13         Omboue      GA     83.21  -1.5746    9.2618
16        Rikitea      PF     76.73 -23.1203 -134.9692
21        Nkoteng      CM     88.20   4.5167   12.0333
27          Buala      SB     80.69  -8.1450  159.5921
32           Hilo      US     75.27  19.7297 -155.0900
33       Karratha      AU     79.29 -20.7377  116.8463
45        Cascais      PT     86.61  38.6979   -9.4215
46         Ormara      PK     82.65  25.2088   64.6357

In [22]:
# Set parameters to search for a hotel.

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key
    
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Cockburn Town,TC,79.32,21.4612,-71.1419,Osprey Beach Hotel
8,Loa Janan,ID,76.05,-0.5830,117.0950,Ss
13,Omboue,GA,83.21,-1.5746,9.2618,Hotel Olako
16,Rikitea,PF,76.73,-23.1203,-134.9692,People ThankYou
21,Nkoteng,CM,88.20,4.5167,12.0333,Résidence OOCLO-Cannelle
27,Buala,SB,80.69,-8.1450,159.5921,Maringe Lagoon Lodge
32,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
33,Karratha,AU,79.29,-20.7377,116.8463,ibis Styles Karratha
45,Cascais,PT,86.61,38.6979,-9.4215,Hotel Vila Galé Cascais
46,Ormara,PK,82.65,25.2088,64.6357,Kenara Colony house for Rent

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

In [27]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))